<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8"/>
</head>
<body>
<header th:fragment="navbar">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="@{/}">To Do Web Application</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav" sec:authorize="isAnonymous()">
                    <li>
                        <a th:href="@{/}">Home</a>
                    </li>

                </ul>
                <ul class="nav navbar-nav" sec:authorize="isAuthenticated()">
                    <li>
                        <a th:href="@{/todo/all}">
                            <span th:text="${' Tasks (' + session.quantity + ')'}"/>
                        </a>
                    </li>
                    <li sec:authorize="hasRole('ADMIN')">
                        <a th:href="@{/admin/users}">List of Users</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            <span th:text="#{lang.choice}">LANGUAGE</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu show-tick">
                            <li>
                                <a href="?lang=pl">[[#{lang.pl}]]
                                    <i th:if="__${#locale}__=='pl'" class="pull-right glyphicon glyphicon-ok"></i>
                                </a>
                            </li>
                            <li>
                                <a href="?lang=en">[[#{lang.en}]]
                                    <i th:if="__${#locale}__=='en'" class="pull-right glyphicon glyphicon-ok"></i>
                                </a>
                            </li>
                        </ul>
                    </li>


                </ul>


                <ul class="nav navbar-nav navbar-right" sec:authorize="isAnonymous()">
                    <li>
                        <a th:href="@{/register}">
                            <span class="glyphicon glyphicon-user"></span>
                            Sign Up
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/login}">
                            <span class="glyphicon glyphicon-log-in"></span>
                            Login
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right" sec:authorize="isAuthenticated()">
                    <li>
                        <a th:href="@{/change-password}">
                            Change password
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/logout}">
                            <span class="glyphicon glyphicon-log-out"></span>
                            <span th:text="${' Logout (' + #authentication.getPrincipal().getUsername() + ')'}"/>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
</body>
</html>