<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title>Change password</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <h2>Change password</h2>
        <div class="well-lg">
            <form th:action="@{/change-password}" method="post" th:object="${passwordForm}">
                <div class="form-group">
                    <label for="password">New password:</label>
                    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                    <input id="password" th:type="password" th:field="*{password}" class="form-control"
                           placeholder="Enter password"/>

                </div>

                <div class="form-group">
                    <label for="cpassword">Repeat new password:</label>
                    <div th:if="${#fields.hasErrors('confirmedPassword')}" th:errors="*{confirmedPassword}"></div>
                    <input id="cpassword" th:type="password" th:field="*{confirmedPassword}" class="form-control"
                           placeholder="Confirm password"/>
                </div>

                <div class="form-group">
                    <label for="birthday">Birthday:</label>
                    <div th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"></div>
                    <input id="birthday" th:type="date" th:value="*{birthDate}" th:field="*{birthDate}"
                           class="form-control"/>
                </div>

                <div class="form-group">
                    <label th:text="'Security question: ' + *{securityQuestion}"></label>
                    <div th:if="${#fields.hasErrors('securityAnswer')}" th:errors="*{securityAnswer}"></div>
                    <input th:type="text" th:field="*{securityAnswer}" class="form-control"
                           placeholder="Enter answer"/>
                </div>

                <input th:type="hidden" th:field="*{securityQuestion}">

                <div th:if="${param.error}" th:text="#{password.fail}" class="alert alert-danger"></div>
                <div th:if="${param.done}" th:text="#{password.success}" class="alert alert-success"></div>

                <button th:type="submit" class="btn btn-default">Change password</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>