<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title>Error Page</title>
</head>
<body>
<div layout:fragment="content">
    <h4 th:text="Ooops... + ' ' + ${message}"></h4>
</div>
</body>

</html>