<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title>Edit task</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <h2>Edit task</h2>
        <div class="well-lg">
            <form th:action="@{/todo/edit/{id}(id=${editForm.id})}" method="post" th:object="${editForm}">
                <div class="form-group">
                    <label>Name</label>
                    <input th:type="text" th:field="*{name}" class="form-control"/>
                    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <input th:type="text" th:field="*{description}" class="form-control"/>
                    <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</div>
                </div>
                <div class="form-group">
                    <label>Status</label>
                    <select th:field="*{status}" class="form-control">
                        <th:block th:each="s : ${statusOptions}">
                            <option th:value="${s}" th:text="${s}"></option>
                        </th:block>
                    </select>
                </div>
                <div class="form-group">
                    <label>Deadline</label>
                    <input th:type="date" th:value="*{deadline}" th:field="*{deadline}" class="form-control"/>
                    <div th:if="${#fields.hasErrors('deadline')}" th:errors="*{deadline}">Deadline Error</div>
                </div>
                <div class="form-group">
                    <button class="btn btn-warning form-control" th:type="submit">Change</button>
                </div>
            </form>
            <div class="form-group">
                <form th:action="@{'/todo/delete'}" method="post">
                    <button type="submit" class="btn btn-danger form-control" name="todoId"
                            th:value="${id}">Delete
                    </button>
                </form>
            </div>

        </div>
    </div>
</div>
</body>
</html>